<h2 class='text-center'> Make suggestions for this months snacks! </h3>

<br  />

<div class='suggestions_form text-center'>
  <div class="btn-group">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Suggest from previous snacks
    </button>
    <div class="dropdown-menu">
      GET optional snacks from API
    </div>
  </div>

  <br />
  <br />

  <form>
    <div class="form-group">
      <label for="">Snack Suggestion:</label>
      <input type="text" class="form-control" id="" aria-describedby="" placeholder="Enter suggestion">
    </div>
    <div class="form-group">
      <label for="">Purchase Location:</label>
      <input type="text" class="form-control" id="" placeholder="Enter location">
    </div>
    <div class="form-check">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
